<form class="todo-app--tasks-sidebar-form text-left padding-base">
    <i>Summary:</i><br>
    <textarea type="text"
              cols="50"
              rows="10"
              name="summary"
              ng-model="$ctrl.item.summary"
              class="form-control padding-vertical-base">
    </textarea><br><br>

    <i>Description:</i><br>
    <textarea type="text"
              cols="50"
              rows="10"
              name="description"
              ng-model="$ctrl.item.description"
              class="form-control padding-vertical-base">
    </textarea><br><br>

    <button class="todo-app--tasks-preview-edit button-secondary" ng-click="$ctrl.saveForm($ctrl.item)">{{$ctrl.action}}</button>
    <button class="todo-app--tasks-preview-remove button-primary" ng-click="$ctrl.cancelForm()">Cancel</button>
</form>